@import url(http://fonts.googleapis.com/css?family=Quicksand);

#ro3-slider * {
	margin: 0px;
	padding: 0px;
}

#ro3-slider #surface {
	position: relative;
}

#ro3-slider #images{
	position: relative;
	opacity: 0;
	transition: opacity 500ms;
}

#ro3-slider #images img {
	position: absolute;
	z-index: 100;
}

#ro3-slider #images img.active {
	z-index: 200;
}

#ro3-slider #transitions{
	position: absolute;
	top: 0px;
	left: 0px;
}

#ro3-slider #transitions div.tile {
	position: absolute;
	z-index: 300;
	opacity: 0;
}

#ro3-slider #pagination {
	position: absolute;
	text-align: center;
	bottom: 0px;
	display: none;
	z-index: 400;
	bottom: 0px;
	padding: 5px 30px;
	border-radius: 4px 4px 0px 0px;
}

#ro3-slider #pagination li {
	margin: 0px 5px;
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #FFF;
	cursor: pointer;
	opacity: 0.5;
	border-radius: 50%;
}

#ro3-slider #pagination li.active {
	opacity: 1;
}

#ro3-slider #transitions {
	top: 0px;
	left: 0px;
}

#ro3-slider #nav-next, 
#ro3-slider #nav-prev {
	position: absolute;
	top: 0px;
	height: 100%;
	padding: 0px 20px;
	font-size: 30px;
	font-family: 'Quicksand';
	color: #FFFFFF;
	text-decoration: none;
	opacity: 0.5;
	z-index: 400;
	display: none;
}

#ro3-slider #nav-next {
	right: 1%;
}

#ro3-slider #nav-prev {
	left: 1%;
}

#ro3-slider #surface:hover #pagination, 
#ro3-slider #surface:hover #nav-prev, 
#ro3-slider #surface:hover #nav-next {
	display: block;
}

#ro3-slider #pagination li:hover,
#ro3-slider #nav-next:hover,
#ro3-slider #nav-prev:hover {
	opacity: 1;
}

